* {
    box-sizing: border-box;
}

:root {
    --primary-color: #1ebfc1;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* ------------------------------Common------------------------------ */
a {
    text-decoration: none;
}

.main-content {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
    max-width: calc(100% - 48px);
}

/* ------------------------------Header------------------------------ */
.header {
    padding: 52px 0 8px;
}

.header.fixed {
    position: sticky;
    top: -26px;
}

.header .body {
    display: flex;
    align-items: center;
}

.nav {
    margin-left: auto;
}

.nav ul {
    display: flex;
}

.nav a {
    color: #2f3a3b;
    font-size: 1.6rem;
    padding: 8px 19.5px;
}

.header .action-link:hover,
.nav a:hover,
.nav li.active a {
    /* font-weight: 600; */
    text-shadow: 1px 0 0 currentColor;
}

.header .action {
    margin-left: 157.5px;
}

.header .action-link {
    color: #494949;
    font-size: 1.6rem;
}

.header .sign-up-btn {
    margin-left: 24px;
    display: inline-block;
    padding: 0 16px;
    color: var(--primary-color);
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    border-radius: 6px;
    border: 1px solid var(--primary-color);
    min-width: 108px;
    line-height: 48px;
}

.header .sign-up-btn:hover {
    color: #fff;
    background: var(--primary-color);
}
